.chocolate-input {
    &-wrapper {
        display: flex;
        position: relative;
    }

    &-icon-wrapper {
        position: absolute;
        height: 100%;
        width: 35px;
        justify-content: center;
        color: $input-color;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        svg {
            color: $input-placeholder-color;
        }
    }

    &-inner {
        @include input-style($input-padding-y, $input-padding-x, $input-font-family, $input-font-size, $input-font-weight,
            $input-line-height);
        border: $input-border-width solid $input-border-color;
        border-radius: $input-border-radius;
        width: 100%;

        &:focus {
            color: $input-focus-color;
            background-color: $input-focus-bg;
            border-color: $input-focus-border-color;
            outline: 0;
            box-shadow: $input-focus-box-shadow;
        }

        &::placeholder {
            color: $input-placeholder-color;
            opacity: 1;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: rgba($input-disabled-bg, .65);
            border-color: $input-disabled-border-color;
            opacity: 1;
        }

        &[readonly] {
            background-color: rgba($input-disabled-bg, .1);
            border-color: $input-disabled-border-color;
            opacity: 1;
        }
    }

    &-group-prepend,
    &-group-append {
        display: flex;
        align-items: center;
        font-size: $input-font-size;
        font-weight: $input-font-weight;
        line-height: $input-line-height;
        color: rgba($input-group-addon-color, .95);
        text-align: center;
        white-space: nowrap;
        background-color: rgba($input-group-addon-bg, .65);
        padding: $input-padding-y $input-padding-x;
        border: $input-border-width solid $input-group-addon-border-color;
        border-radius: $input-border-radius;
    }

}

.chocolate-input-group-append+.btn {
    padding: 0;
    border: 0;
}

.input-group>.chocolate-input-group-prepend {
    border-right: 0;
}

.input-group>.chocolate-input-group-append {
    border-left: 0;
}

.input-group>.chocolate-input-group-prepend,
.input-group.input-group-append>.chocolate-input-inner {
    @include border-right-radius(0);
}

.input-group>.chocolate-input-group-append,
.input-group.input-group-prepend>.chocolate-input-inner {
    @include border-left-radius(0);
}

.input-size-sm .chocolate-input-inner {
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $input-font-size-sm;
    border-radius: $input-border-radius-sm;
}

.input-size-lg .chocolate-input-inner {
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $input-font-size-lg;
    border-radius: $input-border-radius-lg;
}