@import "../../styles/mixin";
@import "../../styles/variables";
@import "../../styles/reboot";

.alert-wrapper {
    position: relative;
    font-weight: $alert-font-weight-bold;
    line-height: $alert-line-height;
    @include alert-size($alert-padding-y, $alert-padding-x, $alert-font-size, $alert-border-radius);
    border: $alert-border-width solid transparent;
}

.alert-default {
    @include alert-style($orange, $orange, $black);
}

.alert-success {
    @include alert-style($success, $success, $black);
}

.alert-success {
    @include alert-style($success, $success, $black);
}

.alert-danger {
    @include alert-style($danger, $danger, $black);
}

.alert-warning {
    @include alert-style($warning, $warning, $black);
}

.alert-description {
    display: block;
    font-size: $alert-font-size-sm; 
    font-weight: $alert-font-weight;
}

.alert-message-normal {
    font-weight: $alert-font-weight;
}

.alert-close-icon {
    font-weight: 200;
    float: right;
    position: absolute;
    top: 0;
    right: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.alert-closable {
    padding-right: 45px;
}

.alert-no-closable {
    padding-right: 15px;
}