@import "../../styles/mixin";
@import "../../styles/variables";
@import "../../styles/reboot";

.chocolate-picker {
  width: 29rem;
  padding: $padding-normal;
  border-radius: 2px;
  // border: 0.1rem solid $border-color;
  box-shadow: $box-shadow;
  transition: margin .3s;

  &-wrapper {
    position: relative;
    width: 100%;
  }

  &-header {
    text-align: center;
    user-select: none;

    tr>th {
      padding-bottom: $picker-padding;
    }

    &::after {
      content: "";
      width: 100%;
      border-bottom: 0.1rem solid #edeeef;
      position: absolute;
      left: 0;
      top: 2.2rem;
    }
  }

  &-weeks {
    cursor: pointer;
  }

  &-weeks-item {
    text-align: center;
    cursor: pointer;
  }

  &-day {
    user-select: none;

    .chocolate-picker-is-today {
      background-color: lighten($primary, 40%);
      border-color: $primary;
    }

    .chocolate-picker-is-selected {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }

    .chocolate-picker-is-current-month {
      color: $picker-disabled-color;

      &:hover {
        border-color: lighten($primary, 40%);
        color: lighten($primary, 40%);
      }
    }
  }

  &-ghost {
    width: $picker-width;
    height: $picker-height;
    color: $font-color;
  }
}

.chocolate-picker-view-layout {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $picker-padding;
  }

  &-body {
    flex: 1;
  }

  &-footer {
    &::before {
      content: "";
      border-bottom: 0.1rem solid $g08;
      display: block;
      margin: $picker-padding 0;
    }
  }
}

.chocolate-picker-month {
  &-wrapper {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $picker-padding;
  }

  &-cell {

    width: 33.3%;
    border: 0.01rem solid $border-color;

    &-is-selected {
      background-color: $primary;
      color: $white;
    }

    // 优先级
    .chocolate-picker-month-is-selected {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }
  }

  &-ghost {
    height: 5.7rem;
    width: 100%;
    padding: 0;
    font-size: 1.2rem;
    border-radius: 0;

    &:focus {
      color: $white ;
    }
  }

  &-is-selected {
    background-color: $primary;
    color: $white;
    border-color: $primary;
  }

}

.chocolate-picker-header-title {
  &-wrapper {
    display: flex;
    align-items: center;
    user-select: none;

    >span {
      margin-right: $picker-padding;
    }
  }
}