@import "../../styles/mixin";
@import "../../styles/variables";
@import "../../styles/reboot";

.chocolate-picker {
  width: 29rem;
  height: 35rem;
  padding: $padding-normal;
  border: 0.1rem solid $border-color;


  &-wrapper {
    position: relative;
    width: 100%;
  }

  &-header {
    text-align: center;
  }

  &-weeks {}

  &-weeks-item {
    text-align: center;
  }
  &-day {
    .chocolate-picker-is-today {
      background-color: lighten($primary, 40%);
      border-color: $primary;
    }

    .chocolate-picker-is-selected {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }

    .chocolate-picker-is-current-month {
      color: $picker-disabled-color;

      &:hover {
        border-color: lighten($primary, 40%);
        color: lighten($primary, 40%);
      }
    }
  }

  &-ghost {
    width: $picker-width;
    height: $picker-height;
    color: $font-color;
  }
}

.chocolate-picker-view-layout {
  &-container {
    display: flex;
    flex-direction: column;

  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $picker-padding;
  }

  &-body {
    flex: 1;
  }

  &-footer {
    &::before {
      content: "";
      border-bottom: 0.1rem solid $g08;
      display: block;
      margin: $picker-padding 0;
    }
  }
}