@import "../../styles/mixin";
@import "../../styles/variables";
@import "../../styles/reboot";

.chocolate-message {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);

  &-wrapper {
    z-index: 9999999999;
    overflow: hidden;
    border-radius: $border-radius;
    min-width: 260px;
    height: 40px;
    box-shadow: $box-shadow-sm;
    border: $border-width solid $border-color;
    background-color: $white;
  }

  &-content {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    >span {
      font-size: $font-size-sm;
      display: flex;
      align-items: center;
    }
  }

  &-open {
    pointer-events: auto;
    animation: chocolate-fade-in $animate-time $animate-type forwards;
  }

  &-close {
    pointer-events: none;
    animation: chocolate-fade-out $animate-time $animate-type forwards;
  }

}